[deluge]
host     = "localhost"  # deluge daemon hostname/ip
port     = 30000        # deluge daemon port
login    = "my-user"    # deluge daemon user
password = "my-pass"    # deluge daemon password
version  = "v2"         # deluge version (v1 or v2)

[rules]
enabled              = true   # enable or disable rules
max_active_downloads = 1      # set max active downloads